

{% extends "core/base_creden.html" %}

{% load static %}
{% block css %}

<link rel="stylesheet" href="{% static 'core/css/estilo_creden.css' %}">
{% endblock %}

{% block contenido %}


    <!-- Tabs Titles -->
    
    <h2 class="active"><a href="{% url 'login' %}">Iniciar Sesion</a></h2>
    <h2 class="inactive underlineHover"><a href="{% url 'registro' %}">Registro</a> </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <i class="fa fa-solid fa-user fa-2xl"></i>
    </div>

      <!-- Login Form -->
      <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Ingresar">
        </form> 

        


{% endblock %}
